html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Inter var', '-apple-system', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.43;
  background-color: #f3f4f6;
}
